<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partitions/head.ejs") %>
</head>
<body>
    <%- include("../partitions/navbar.ejs") %> 
    <div class="container-sm mt-3 col-md-8">
        <h1 class="display-6 text-center mb-3"><%= headerTitle %></h1>
        <div class="text-end mb-3">
            <a href=<%= `/${router}/create` %> class="btn btn-info">Add</a>
        </div>
        <table class="table table-striped table-hover">
            <tr>
                <% fields.forEach(field => { %>
                    <th><%= field %> </th>
                <% }) %>
                <th>Features</th>
            </tr>
            <% rows.forEach(row => { %>
                <tr>
                    <% fields.forEach(field => { %>
                        <td>
                            <%= row[field] %> 
                        </td>
                    <% }) %>
                    <td class="col-md-2">
                        <div class="d-flex">
                            <a href=<%= `/${router}/${row['ID']}/update` %> class="btn btn-warning">Update</a>
                            <form method="post" action=<%= `/${router}/${row['ID']}/delete` %> >
                                <input name="id" value="<%= row['ID'] %>" type="hidden" >
                                <input class="btn btn-danger" type="submit" value="Delete">
                            </form>
                        </div>
                    </td>
                </tr>
            <% }) %>
        </table>
    </div>
</body>
</html>